ideone.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	     xmlns:tns="http://ideone.com/api/1/service"
	     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	     xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	     xmlns:ns2="http://xml.apache.org/xml-soap"
	     name="Ideone_Service_v1"
	     targetNamespace="http://ideone.com/api/1/service">
  <types>
    <xsd:schema targetNamespace="http://ideone.com/api/1/service"/>
    <schema targetNamespace="http://xml.apache.org/xml-soap"
    xmlns:tns="http://xml.apache.org/xml-soap"
    xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="mapItem">
      <sequence>
	<element name="key" nillable="true" type="xsd:int"/>
        <element name="value" nillable="true" type="xsd:anyType"/>
      </sequence>
    </complexType>

    <complexType name="Map">
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="item" 
		 type="tns:mapItem"/>
      </sequence>
</complexType>
</schema>
</types>
<portType name="Ideone_Service_v1Port">
<operation name="createSubmission">
<documentation>Creates a new submission.</documentation>
<input message="tns:createSubmissionIn"/>
<output message="tns:createSubmissionResponse"/>
</operation>
<operation name="getSubmissionStatus">
<documentation>Returns status and result of a submission in an associative array.</documentation>
<input message="tns:getSubmissionStatusIn"/>
<output message="tns:getSubmissionStatusResponse"/>
</operation>
<operation name="getSubmissionDetails">
<documentation>Returns information about the submission in an associative array.</documentation>
<input message="tns:getSubmissionDetailsIn"/>
<output message="tns:getSubmissionDetailsResponse"/>
</operation>
<operation name="getLanguages">
<documentation>Returns list of supported languages.</documentation>
<input message="tns:getLanguagesIn"/>
<output message="tns:getLanguagesResponse"/>
</operation>
<operation name="testFunction">
<documentation>This is a test function. If you can call it successfully, 
then you will also be able to call the other functions.</documentation>
<input message="tns:testFunctionIn"/>
<output message="tns:testFunctionResponse"/>
</operation>
</portType>
<binding name="Ideone_Service_v1Binding" type="tns:Ideone_Service_v1Port">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="createSubmission">
<soap:operation soapAction="http://ideone.com/api/1/service#createSubmission"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</output>
</operation>
<operation name="getSubmissionStatus">
<soap:operation soapAction="http://ideone.com/api/1/service#getSubmissionStatus"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</output>
</operation>
<operation name="getSubmissionDetails">
<soap:operation soapAction="http://ideone.com/api/1/service#getSubmissionDetails"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</output>
</operation>
<operation name="getLanguages">
<soap:operation soapAction="http://ideone.com/api/1/service#getLanguages"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</output>
</operation>
<operation name="testFunction">
<soap:operation soapAction="http://ideone.com/api/1/service#testFunction"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ideone.com/api/1/service"/>
</output>
</operation>
</binding>
<service name="Ideone_Service_v1Service">
<port name="Ideone_Service_v1Port" binding="tns:Ideone_Service_v1Binding">
<soap:address location="http://ideone.com/api/1/service"/>
</port>
</service>
<message name="createSubmissionIn">
<part name="user" type="xsd:string"/>
<part name="pass" type="xsd:string"/>
<part name="sourceCode" type="xsd:string"/>
<part name="language" type="xsd:int"/>
<part name="input" type="xsd:string"/>
<part name="run" type="xsd:boolean"/>
<part name="private" type="xsd:boolean"/>
</message>
<message name="createSubmissionResponse">
<part name="return" type="soap-enc:Array"/>
</message>
<message name="getSubmissionStatusIn">
<part name="user" type="xsd:string"/>
<part name="pass" type="xsd:string"/>
<part name="link" type="xsd:string"/>
</message>
<message name="getSubmissionStatusResponse">
<part name="return" type="soap-enc:Array"/>
</message>
<message name="getSubmissionDetailsIn">
<part name="user" type="xsd:string"/>
<part name="pass" type="xsd:string"/>
<part name="link" type="xsd:string"/>
<part name="withSource" type="xsd:boolean"/>
<part name="withInput" type="xsd:boolean"/>
<part name="withOutput" type="xsd:boolean"/>
<part name="withStderr" type="xsd:boolean"/>
<part name="withCmpinfo" type="xsd:boolean"/>
</message>
<message name="getSubmissionDetailsResponse">
<part name="return" type="soap-enc:Array"/>
</message>
<message name="getLanguagesIn">
<part name="user" type="xsd:string"/>
<part name="pass" type="xsd:string"/>
</message>
<message name="getLanguagesResponse">
<part name="return" type="soap-enc:Array"/>
</message>
<message name="testFunctionIn">
<part name="user" type="xsd:string"/>
<part name="pass" type="xsd:string"/>
</message>
<message name="testFunctionResponse">
<part name="return" type="soap-enc:Array"/>
</message>
</definitions>
